body {
  background-color: white;
}

.container {
  margin-top: 30px;
  background-color: white;
  border: solid 1px grey;
  border-radius: 4px;
}

.page-header {
  margin: 20px;
  font-size: 30px;
  text-align: center;
}
.page-header-title {
  padding: 10px;
}
.my-input {
  margin-top: 20px;
  padding: 20px;
}
.loader {
  /* text-align: center; */
  width: 30px;
  height: 30px;

  border: 8px solid #f3f3f3;
  border-radius: 50%;
  border-top: 6px solid purple;
  border-right: 6px solid purple;
  border-bottom: 6px solid purple;
  animation: spin 2s linear infinite;
}
.loader2 {
  width: 50px;
  height: 50px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.hidden {
  display: none;
}
.no-search-input {
  color: red;
}
.search-results {
  width: 182px;
  height: 72px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 72px;
  color: #373a3c;
}
.data-list {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 20px;
  color: #5d4fe0;
  padding-left: 0px;
  list-style-type: none;
}
.data-list li {
  padding: 10px;
  border-bottom: solid 1px black;
}
.company-title {
  margin: 20px;
}
.company-logo {
  padding: 20px;
}
.company-name {
  padding: 20px;
  color: purple;
  font-size: 20px;
}
.search-page-company-name {
  padding-left: 20px;
  padding-right: 20px;
  font-size: 20px;
}
.stock-price {
  margin-left: 30px;
  padding: 10px;
  font-size: 20px;
}
.stock-changes {
  padding: 10px;
  font-size: 20px;
}
.description {
  padding: 40px;
  width: 600px;
  font-size: 15px;
}
.lightgreen {
  color: rgb(4, 122, 4);
}
.red {
  color: red;
}
.chart-size {
  height: 600px;
  width: 600px;
}
.marquee {
  margin: 0 auto;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  box-sizing: border-box;
  position: relative;
}

.marquee__content {
  width: 300% !important;
  display: flex;
  line-height: 30px;
  animation: marquee 40s linear infinite forwards;
}

.list-inline {
  display: flex;
  justify-content: space-around;
  width: 33.33%;

  /* reset list */
  list-style: none;
  padding: 0;
  margin: 0;
}
@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-66.6%);
  }
}
.list-inline li {
  color: black;
  font-size: 16px;
  padding: 12px;
}
